<%= form_for @video do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :released_on %>
  <%= f.date_select :released_on, order: [:month, :day, :year] %>
  <br>
   <%= f.label :embed_url, "YouTube Id" %>
  <%= f.text_field :embed_url %>
  <br>
  <%= f.submit "Create!" %>

<% end %>

<ul>
<% @video.errors.messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>
